[submodule "ExtendedCL"]
	path = ExtendedCL
	url = https://github.com/EbenZhang/ExtendedCL.git
	branch = master
[submodule "WpfCommon"]
	path = WpfCommon
	url = https://github.com/EbenZhang/WpfCommon.git
